{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'preloaderStyle.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="contact-card">
          <div class="avatar"></div>
          <div class="text"></div>
        </div>
        <div class="contact-card">
          <div class="avatar"></div>
          <div class="text"></div>
        </div>
        <div id="magnifying-glass">
          <div id="glass"></div>
          <div id="handle">
            <div id="handle-inner"></div>
          </div>
        </div>
      </div>

      <script>
        // Wait for 2 seconds and then redirect
        setTimeout(function() {
            window.location.href = "{%  static 'preloaderPage.html' %}";
        }, 2000);
      </script>

</body>


</html>



{% endblock %}